li(onDoubleClick='{()=> this.onRename()}')
    input(
        type="checkbox"
        checked='{article.awesomeness}'
        onChange='{()=> this.onToggleCompleted()}')
    | {article.title}
    small
    | {article.description}